{#
  MACRO: format a inline link reference in Markdown
#}{%  macro format_link(link, label)
%}{{    "[%s](%s)" | format(label, link)
}}{%  endmacro
%}


{#
  MACRO: Capitalize the first letter of a string only
#}{%  macro capitalize_first_letter_only(sentence)
%}{{    (sentence[0] | upper) ~ sentence[1:]
}}{%  endmacro
%}


{#
  MACRO: commit message links or PR/MR links of commit
#}{%  macro commit_msg_links(commit)
%}{%    if commit.error is undefined
%}{%      set link_references = []
%}{%      set summary_line = capitalize_first_letter_only(
            commit.descriptions[0] | safe
          )
%}{%      if commit.linked_merge_request != ""
%}{%        set _ = link_references.append(
              format_link(
                commit.linked_merge_request | pull_request_url,
                commit.linked_merge_request
              )
            )
%}{%      endif
%}{%      set _ = link_references.append(
            format_link(
              commit.hexsha | commit_hash_url,
              "`%s`" | format(commit.short_hash)
            )
          )
%}{%      set formatted_links = ""
%}{%      if link_references | length > 0
%}{%        set formatted_links = " (%s)" | format(link_references | join(", "))
%}{%      endif
%}{{      summary_line ~ formatted_links
}}{%    endif
%}{%  endmacro
%}


{#
  MACRO: format commit summary line
#}{%  macro format_commit_summary_line(commit)
%}{%    if commit.error is undefined
%}{%      set summary_line = commit_msg_links(commit)
%}{%      if commit.scope
%}{%        set summary_line = "**%s**: %s" | format(commit.scope, summary_line)
%}{%      endif
%}{{      summary_line
}}{%    else
%}{{      (commit.commit.message | string).split("\n", maxsplit=1)[0]
}}{%    endif
%}{%  endmacro
%}


{#
  MACRO: format a commit descriptions list
#}{%  macro format_attr_paragraphs(commit, attribute)
%}{%    set ns = namespace(full_description="")
%}{%    if commit.error is undefined
%}{%      for paragraph in commit | attr(attribute)
%}{%        if paragraph | trim | length > 0
%}{%          set ns.full_description = [
                ns.full_description,
                capitalize_first_letter_only(paragraph) | trim | safe,
              ] | join("\n\n")
%}{%        endif
%}{%      endfor
%}{%      set ns.full_description = ns.full_description | trim
%}{%      if commit.scope
%}{%        set ns.full_description = "**%s**: %s" | format(
              commit.scope, ns.full_description
            )
%}{%      endif
%}{%    endif
%}{{    ns.full_description
}}{%  endmacro
%}


{#
  MACRO: format the breaking changes description
#}{%  macro format_breaking_changes_description(commit)
%}{{    format_attr_paragraphs(commit, 'breaking_descriptions')
}}{%  endmacro
%}


{#
  MACRO: format the release notice
#}{%  macro format_release_notice(commit)
%}{{    format_attr_paragraphs(commit, "release_notices")
}}{%  endmacro
%}


{#
   MACRO: order commits alphabetically by scope and attribute
#}{%  macro order_commits_alphabetically_by_scope_and_attr(ns, attr)
%}{%    set ordered_commits = []
%}{%    set filtered_commits = ns.commits | rejectattr("error", "defined") | list
%}{%    for commit in filtered_commits | rejectattr("scope") | sort(attribute=attr)
%}{%      set _ = ordered_commits.append(commit)
%}{%     endfor
%}{%    for commit in filtered_commits | selectattr("scope") | sort(attribute=(['scope', attr] | join(",")))
%}{%      set _ = ordered_commits.append(commit)
%}{%    endfor
%}{%    set ns.commits = ordered_commits
%}{%  endmacro
%}


{%  macro apply_alphabetical_ordering_by_descriptions(ns)
%}{%    set _ = order_commits_alphabetically_by_scope_and_attr(ns, 'descriptions.0')
%}{%  endmacro
%}


{%  macro apply_alphabetical_ordering_by_brk_descriptions(ns)
%}{%    set _ = order_commits_alphabetically_by_scope_and_attr(ns, 'breaking_descriptions.0')
%}{%  endmacro
%}


{%  macro apply_alphabetical_ordering_by_release_notices(ns)
%}{%    set _ = order_commits_alphabetically_by_scope_and_attr(ns, 'release_notices.0')
%}{%  endmacro
%}