{%    set max_line_width = max_line_width | default(1000)
%}{%  set hanging_indent = hanging_indent | default(2)
%}{%  set license_name = license_name | default("", True)
%}{%  set releases = context.history.released.values() | list
%}{%  set curr_release_index = releases.index(release)
%}{#
#}{%  if mask_initial_release and curr_release_index == releases | length - 1
%}{%    include ".components/first_release.md.j2"
%}{%  else
%}{%    include ".components/versioned_changes.md.j2"
-%}{#
#}{%    set prev_release_index = curr_release_index + 1
%}{#
#}{%    if 'compare_url' is filter and prev_release_index < releases | length
%}{%      set prev_version_tag = releases[prev_release_index].version.as_tag()
%}{%      set new_version_tag = release.version.as_tag()
%}{%      set version_compare_url = prev_version_tag | compare_url(new_version_tag)
%}{%      set detailed_changes_link = '[{}...{}]({})'.format(
            prev_version_tag, new_version_tag, version_compare_url
          )
%}{{      "\n"
}}{{      "---\n"
}}{{      "\n"
}}{{      "**Detailed Changes**: %s" | format(detailed_changes_link)
}}{%    endif
%}{%  endif
%}